SUPABASE_URL=https://lixzglvjlklnpijtsfwg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxpeHpnbHZqbGtsbnBpanRzZndnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxNTIxMDQsImV4cCI6MjA5NTcyODEwNH0.vkDIouh5ju5R_uVcC-nnUrV_Rarlbh6BDdw-auHthf0

